[profile.default]
src = "src"
script = "script"
out = "out"
libs = ["lib"]
solc_version = "0.8.26"
optimizer = true
optimizer_runs = 200
via_ir = true
auto_detect_remappings = false
cache_path = "cache"

[fmt]
line_length = 120
tab_width = 4
